:root{
    font-family: 'Poppins', sans-serif;
    --tertiary-white-color: #EBEBEB;
    --secondary-white-color: #F5F5F5;
    --primary-accent-color: #3C6E71;
    --secondary-accent-color: #284B63;
    --primary-black-color: #353535;
    --red-accent-color: #DB2B39;
    --border-radius: 0.5rem;

}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content-container{
    min-height: fit-content;
    min-width: 70%;
    padding: 1rem 2rem;

}
header{
    font-size: 3.5rem;
    font-weight: 600;
    position: relative;
}
main{
    background-color: var(--secondary-white-color);
    border-radius: var(--border-radius);
    min-height: 75vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid var(--secondary-accent-color);
}
main > nav{
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-color: var(--tertiary-white-color);
    padding: 1.5rem 0 0 1.75rem;
}
main > nav > ul > li{
    margin-bottom: 1rem;
}
#main-content-container{
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding: 1.25rem;
}
.nav-button{
    font-size: 1.45rem;
}
#nav-divider{
    font-size: 1.75rem;
    margin: 2rem 0 1.25rem -10px;
    font-weight: 600;
}
.tab-title{
    color: var(--primary-black-color);
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.new-task-div{
    padding: 1rem;
    color: white;
    background-color: var(--primary-accent-color);
    border-radius: var(--border-radius);
    font-weight: 500;
    font-size: 1.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#add-symbol{
    margin-right: 1rem;
}
.task-div{
    background-color: var(--tertiary-white-color);
    height: 3.25rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#left-side > h1{
    font-size: 1.35rem;
}
#right-side{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;
}
.check-button-div{
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid var(--primary-accent-color);
    border-radius: 0.25rem;
    margin-right: 1.35rem;
}
.priority{
    width: 0.3rem;
    height: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    margin-right: 1.35rem;
}
.high{
    background-color: var(--red-accent-color);
}
.icon-size{
    width: 1.75rem;
    height: 1.75rem;
}
#details-button{
    font-family: 'Poppins', sans-serif;
    font-size: 1.15rem;
}
#date{
    font-size: 1.15rem;
}
.task-done{
    opacity: 0.5;
}
#add-task-prompt{
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    z-index: 5;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
#prompt-card{
    max-width: 20vw;
    height: 20vw;
    background-color: var(--secondary-white-color);
    padding: 2rem;
    box-sizing: border-box;
}
#prompt-card > form > input[type=text]{
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    box-sizing: border-box;
}
#prompt-card > form > input[type=date]{
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    box-sizing: border-box;
}

#prompt-card > form > input[type=submit]{
    width: 100%;
    margin: 1rem 0 1rem 0;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--primary-accent-color);
    color: white;
}

label{
    font-size: 1.25rem;
    box-sizing: border-box;
    font-weight: 500;
}
